* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: hsl(0, 0%, 94%);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 15px;
  width: 30%;
  border-radius: 15px 15px 80px 15px;
  background-color: hsl(0, 0%, 100%);
}

.info {
  display: flex;
  width: 85%;
}

#day,
#month,
#year {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase;
}

.label-info {
  flex-wrap: wrap;
  color: hsl(0, 0%, 86%);
}

.input-info {
  width: 90%;
  margin-right: 8px;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border-color: hsl(0, 0%, 86%);
  border-width: 1px;
}

/* Inicio: Linha separadora e botão */
.start {
  margin-top: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.start:after {
  content: "";
  width: 100%;
  background: #8888;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  right: 0;
}

#background-button {
  position: relative;
  background: transparent;
  border: none;
  z-index: 10;
  padding: 0;
}

#background-button a {
  text-align: center;
}

#background-button img {
  padding: 1.2rem;
  background: hsl(259, 100%, 65%);
  border-radius: 100%;
  cursor: pointer;
  transition: .3s;
  border: none;
  outline: 2px solid hsl(259, 100%, 65%);
  outline-offset: -2px;
}
#background-button img:hover {
  background: #111111;
  outline: 2px solid #111111;;
}
/* Fim: Linha separadora e botão */

/* Inicio: Resultados dos calculos */
.results {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 400%;
}

.result {
  display: inline-block;
}

#years,
#months,
#days {
  display: inline-block;
  color: hsl(259, 100%, 65%);
}